// Settings
$base_spacing: 30px;
$spacing: 10;
$path: "../assets/img/";
// Colors
$color_base: SaddleBrown;
$color_white: white;
$color_black: rgb(0,0,0);
$color_gray: lighten($color_black, 72);
$color_alt: rgb(251,210,189);
$colors: (
  red: red,
  white: $color_black,
  blue: blue,
  yellow: yellow,
  green: green,
  violet: rgb(150,50,175)
);
@each $name, $color in $colors {
  .#{$name} {
    fill: $color;
  }
}
.svgContainer {
}
.svg {
  stroke: $color_black;
  stroke-width: 1;
  fill: $color_alt;
  &Logo {
    max-width: 500px;
    padding: 20px;
  }
  &--cover {
    flex: 0 350px;
    fill: none;
    stroke: $color_alt;
    margin-left: $base_spacing;
    margin-right: $base_spacing;
  }
  &Pentagon {}
  &Dodecadedro {}
  &Lines {
    stroke-width: 1;
    stroke: $color_black;
    fill: none;
  }
}
.path {
  stroke-width: 4;
  stroke: $color_black;
  fill: none;
}

// Base
body {
  font-family: Open Sans;
  font-size: 81%;
  line-height: 1.9;
  letter-spacing: 1;
  background-color: $color-alt;
  @media screen and (min-width: 900px ) {
    font-size: 125%;
  }
}
img {
  max-width: 100%;
}
a {
  color: $color_black;
  text-decoration: none;
}
ul li {
  margin-bottom: $base_spacing / 2;
}
ul li a {
  // font-weight: bold;
  // border-bottom: 1px solid $color_alt;
  &:hover {
    // color: $color_alt;
    border-bottom: none;
  }
}
blockquote {
  color: $color_alt;
  border-left: 1px solid $color_alt;
  padding: $base_spacing;
  font-weight: bold;
  font-size: 130%;
  margin-left: 0;
}
figure {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: $base_spacing/2;
  figcaption {
    color: $color_black;
  }
}
h2 {
  margin-bottom: $base_spacing/2;
}
iframe {
  max-width: 100%;
  min-height: 200px;
}
*::-moz-selection {
  color: $color_black;
  background-color: $color_alt;
}
*::selection {
  color: $color_black;
  background-color: $color_alt;
}

// Layout
.siteHeader {
  background-color: $color-alt;
  // margin-bottom: $base_spacing / 2;
}

.siteMain {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $base_spacing;
  display: flex;
  flex-wrap: wrap;
  color: $color_black;
  p a {
    font-weight: bold;
    // display: inline-block;
    border-bottom: 1px solid $color_alt;
    // background-color: yellow;
    &:hover {
      color: $color_alt;
      border-bottom: none;
    }
  }
}
.siteList {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    padding: 5px;
  }
}
.siteFooter {
  // background-color: $color_gray;
  padding: $base_spacing/2;
  a {
    // color: lighten($color_black, 50);
    border-bottom: none;
    &:hover {
      color: $color_black;
    }
  }
}
.siteCredits {
  text-align: center;
  &__author {}
  &__year {}
  &__cookies {}
}
.siteSection {}

// Site Nav
.site {
  &Nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 300px;
    background-image: url('../assets/img/bgnav.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transform: translate(175px,0) rotate(-20deg);
    transform-origin: top;
    .siteMenu { opacity: 0 }
    &.active {
      transition-property: transform;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      transform: translate(0,0) rotate(0deg);
      input {
        background-color: $color_black;
        color: $color_white;
      }
      .siteMenu {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 2s;
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}

// Buttons
.btn {
  a {
    display: block;
    padding: $base_spacing/2;
  }
  &Nav {
    // background-color: $color_alt;
    margin-bottom: 0;
    a {
      padding: $base_spacing/2;
      color: $color_black;
      &:hover {
        color: $color_white;
        background-color: darken($color_alt, 5);
      }
    }
  }
  &Toggle {
    padding: $base_spacing/2;
    background-color: $color_alt;
    text-transform: uppercase;
    &:hover {
      background-color: $color_black;
      color: $color_white;
    }
  }
}

// Components
.site {
  &Brand {
    display: flex;
    flex-wrap: wrap;
    max-width: 145px;
  }
  &Title {
    text-transform: uppercase;
    font-size: 90%;
    align-self: center;
  }
  &Logo {
    width: 50px;
    height: 50px;
    margin-top: $base_spacing / 2;
    margin-left: $base_spacing;
    fill: none;
    stroke-width: 1;
    stroke: $color_black;
    stroke-linecap: round;
    // stroke-dasharray: 0, 300;
    stroke-dasharray: 0, 300;
    animation-name: dibuja;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; //backwards
  }
}
.agradecimientos {
  line-height: 1.5;
  // margin-bottom: $base_spacing;
}
.cover {
  margin-bottom: $base_spacing;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('#{$path}teobn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 585px;
  &__title,
  &__description {
    color: $color_alt;
    flex: 1 100%;
    text-align: center;
    padding: $base_spacing;
    font-weight: inherit;
    margin-bottom: 0;
    letter-spacing: 3px;
  }
  &__title {
    text-transform: uppercase;
  }
  @media screen and ( min-width: 1030px ) {}
  @media screen and ( min-width: 1430px ) {}
}

// Animations
@keyframes dibuja {
  100% {
    stroke-dasharray: 300, 300;
  }
}
@keyframes dibuja2 {
  100% {
    stroke-dasharray: 700, 700;
  }
}
