// Settings
$color_black: black;
$color_alt: lightpink;
// Nav
.mainMenu {
  display: none;
  &.active {
    display: block;
  }
}
// Components/Brand
.brand {
  // background-color: green;
  &Logo {
    // fill-rule: nonzero; //evenodd
    fill: none;
    stroke-width: .5;
    stroke: $color_alt;
    stroke-linecap: round;
    stroke-dasharray: 2,1;
  }
}

body {
  font-family: Open Sans;
}

blockquote {
  color: lighten($color_black, 60);
  border-left: 22px solid $color_alt;
  padding-left: 10px;
}
