// Settings
$base_spacing: 30px;
$spacing: 10;
// Colors
$color_base: SaddleBrown;
$color_white: white;
$color_black: black;
$color_gray: lighten($color_black, 80);
$color_alt: mediumaquamarine;
$colors: (
  red: red,
  white: $color_black,
  blue: blue,
  yellow: yellow,
  green: green,
  violet: rgb(150,50,175)
);
@each $name, $color in $colors {
  .#{$name} {
    fill: $color;
  }
}

.hexagon {
  @extend .blue;
}
.triangle {
  @extend .yellow;
}
.square {
  @extend .white;
}
.dodecaedro {
  @extend .blue;
}
.pentagon {
  @extend .violet;
}
.circle {
  @extend .red;
}
.ellipse {
  @extend .green;
}
.lines {
  stroke-width: 1;
  stroke: $color_black;
  fill: none;
}
.path {
  stroke-width: 4;
  stroke: $color_black;
  fill: none;
}
.octagon {
  @extend .violet;
}

// Base
body {
  font-family: Open Sans;
  font-size: 81%;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $color_base;
  &:hover {
    color: $color_alt;
  }
}
blockquote {
  color: $color_alt;
  border-left: 22px solid $color_alt;
  padding-left: 10px;
}
figure {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: $base_spacing/2;
  figcaption {
    color: $color_alt;
  }
}
h2 {
 margin-bottom: $base_spacing/2;
}

// Layout
.siteHeader {
  background-color: $color_gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: $base_spacing/2;
  margin-bottom: $base_spacing/2;
}
.siteTitle {
  font-size: 80%;
  flex: 0 0 150px;
  max-width: 100px;
}
.siteMain {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $base_spacing/2;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}
.siteFooter {
  background-color: $color_gray;
  padding: $base_spacing/2;
}
.siteSection {
  // flex: 1 50%;
  // .gist {
  //   max-width: 345px;
  // }
}

// Site Nav
.site {
  &Nav {
    position: fixed;
    top: $base_spacing/2;
    right: $base_spacing/2;
  }
  &Menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    &.active {
      display: block;
    }
  }
}

// Buttons
.btn {
  a {
    display: block;
    padding: $base_spacing/2;
  }
  &Nav {
    text-transform: uppercase;
    background-color: $color_alt;
    a {
      padding: $base_spacing/2;
      color: $color_black;
      &:hover {
        color: $color_white;
        background-color: darken($color_alt, 5);
      }
    }
  }
  &Toggle {
    padding: $base_spacing/2;
    &:hover {
      background-color: $color_black;
      color: $color_white;
    }
  }
}

// Components
.siteBrand {}
.siteLogo {
  width: 100px;
  height: 50px;
  fill: none;
  stroke-width: 10;
  stroke: $color_black;
  stroke-linecap: round;
  // stroke-dasharray: 0, 300;
  stroke-dasharray: 0, 300;
  animation-name: anim_logo;
  animation-duration: 7s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; //backwards
}

// Animations
@keyframes anim_logo {
  100% {
    stroke-dasharray: 300, 300;
  }
}
