//- Site Footer
footer.siteFooter
	//- Component External-Links
	include ../components/_agradecimientos
	aside
		ul.siteList
			li.siteList__item: a( href="http://t0t.github.io/sergiofores/", target="_blank" ) Sergio Forés
			li.siteList__item: a( href="https://github.com/t0t/", target="_blank" ) Github
			li.siteList__item: a( href="https://www.linkedin.com/in/sergiofores/", target="_blank" ) Linkedin
			li.siteList__item: a( href="https://twitter.com/t0tinspire/", target="_blank" ) @t0tinspire
			li.siteList__item: a( href="http://t0t.github.io/tot", target="_blank" ) Repositorio TOT
			li.siteList__item: a( href="http://t0tfotos.tumblr.com/", target="_blank" ) TOT Tumblr Fotos
			li.siteList__item: a( href="https://www.facebook.com/T0T-156415467869146/", target="_blank" ) TOT Facebook page
	footer.siteCredits
		small.siteCredits__author
			a(href="http://sergiofores.net", target="_blank") Sergio Forés
		small.siteCredits__year
			|  2015 
		small.siteCredits__cookies
			a(href="cookiepolicy.html") Cookies Policy
