//-
	Site Footer
footer.siteFooter
	ul
		li: a( href="http://t0t.github.io/sergiofores/" ) Sergio Forés
		li: a( href="https://github.com/t0t/" ) Github
		li: a( href="https://www.linkedin.com/in/sergiofores/" ) Linkedin
		li: a( href="https://twitter.com/t0tinspire/" ) @t0tinspire
		li: a( href="http://t0t.github.io/tot", target="_blank" ) Repositorio TOT
		li: a( href="http://t0tfotos.tumblr.com/", target="_blank" ) Diario fotográfico
		li: a( href="https://www.facebook.com/T0T-156415467869146/", target="_blank" ) #TOT Facebook page
