//- Site Header
header.siteHeader
	a( href="index.html", class="siteBrand" )
		svg( class="siteLogo" )
			use( xlink:href="assets/img/icons.svg#logo" )
	h1.siteTitle #{ title }
	h2.siteDescription #{ sitedesc }
