//- Site Header Home
header.siteHeader
	a( href="index.html", class="siteBrand" )
		svg( class="siteLogo" )
			use( xlink:href="assets/img/icons.svg#logo" )
		h1.siteTitle #{ title }

	//- Component Resume
	include ../components/_resume
