mixin navmenu(menu_items)
	nav.siteNav
		ul.siteMenu
			each item in menu_items
				if item.title == current
					li( class=[ 'btn', 'btnNav', 'active' ])
						a( href = item.link )
							=item.title
				else
					li( class=[ 'btn', 'btnNav' ])
						a( href=item.link )
							=item.title
		input(type="button", id="hamenu", class="btn btnToggle", value="Menu")

+navmenu([
	{ 'title': 'Home',  'link': 'index.html'},
	{ 'title': 'Page',  'link': 'page.html'}
])
