//- Site Nav
mixin navmenu(menu_items)
	nav.siteNav
		input(type="button", id="hamenu", class="btn btnToggle", value="Menu")
		ul.siteMenu
			each item in menu_items
				if item.title == current
					li( class=[ 'btn', 'btnNav', 'active' ])
						a( href = item.link )
							=item.title
				else
					li( class=[ 'btn', 'btnNav' ])
						a( href=item.link )
							=item.title
		svg.svg.svg--square
			use( xlink:href="assets/img/icons.svg#bg-cuadrado" )

+navmenu([
	{ 'title': 'Blog',  'link': 'http://t0tfotos.tumblr.com/'}
])
