//- Component Resume Site
.agradecimientos
	small
		b Este proyecto no sería como és sin que estas personas sin saberlo me hayan aportado su granito de arena, gracias a todos: 
		| Juan, Mayte, Teo, Otto, Mis Abuelos, Noelia, Fernando Peiró, Emiliano, Román Bayarri, Sergio Romero, Román Yñán, Dani Verges, Borja Altozano, Sergi Torres, Emilio Carrillo, Enric Corbera, Pilar Martínez, <a href="http://jesusolmo.com", target="_blank"> Jesús Olmo<a>,	<a href="http://flowpiano.es", target="_blank"> Ricardo Andrés Tomás</a>, El Eneagrama, <a href="http://martapovo.es/sus-libros/">Libros Geocrom</a>, Matemáticas vorticiales, Valdeande Mágico, Marko Rodin, Luís Palacios, Carlos Martínez...
