//- Component My Codepens
.compCodepens
	h1 4. Piezas de código
	.codepen( data-height="268", data-theme-id="0", data-slug-hash="azZemX", data-default-tab="result", data-user="t0t" ) See the Pen
		a( href='http://codepen.io/t0t/pen/azZemX/' ) SVG viewBox by Sergio Forés
		a( href='http://codepen.io/t0t' ) @t0t
		a( href='http://codepen.io' ) CodePen
	.codepen( data-height="268", data-theme-id="0", data-slug-hash="meLPyv", data-default-tab="result", data-user="t0t" ) See the Pen
		a( href='http://codepen.io/t0t/pen/meLPyv/' ) GEOCROM Sergio Forés
		a( href='http://codepen.io/t0t' ) @t0t
		a( href='http://codepen.io' ) CodePen
	.codepen( data-height="268", data-theme-id="0", data-slug-hash="KdRKpQ", data-default-tab="result", data-user="t0t" ) See the Pen
		a( href='http://codepen.io/t0t/pen/KdRKpQ/') SVG viewBox by Sergio Forés
		a( href='http://codepen.io/t0t' ) @t0t
		a( href='http://codepen.io' ) CodePen
	.codepen( data-height="268", data-theme-id="0", data-slug-hash="qOMKPr", data-default-tab="result", data-user="t0t" ) See the Pen
		a( href='http://codepen.io/t0t/pen/qOMKPr/') SVG viewBox by Sergio Forés
		a( href='http://codepen.io/t0t' ) @t0t
		a( href='http://codepen.io' ) CodePen
	script( async src="//assets.codepen.io/assets/embed/ei.js" )
