.widget.widget-colores
	h4.widget__title Colores Maderlim Decorativo
	ul.widget__list
		for acabado in ["nogal","marron","verde","amarillo","azul","rojo","incoloro","teja","verde-musgo","roble","pino","castano","palisandro","nogal-oscuro","blanco","cerezo","teka","caoba"]
			li.widget__list__item(class="acabado-#{acabado}", title="#{acabado}", alt="#{acabado}")
