//- Component Resume Site
.cover
	h2 #{ title }
	svg.svg.svg--cover( viewBox="0 0 100 100" )
		use( xlink:href="assets/img/icons.svg#logo" )
	h2 #{ sitedesc }

//- figure
//- 	img( src="assets/img/teobn.jpg", alt="teo bn" )
//- 	figcaption Teo
