//- Component Exegesis
h1 Exégesis, textos cortos y profundos
ul
	li 
	li ¿Cuántos pensamientos originales tiene nuestra mente?
	li Bases Fundamentales, máximas y axiomas:
	li Transmutación.
	li Cuando el oido es capaz de oir entonces vienen los labios que han de llenarlos con sabiduría. (Kibalyon)
	li El todo está en la parte y la parte está en el todo.
	li Un mismo partido de fútbol de divide en tantos "partidos de fútbol" como espectadores hay observandolo.
	li Todo el mundo está convencido de que lo que ve es lo que és.
	li El "prestar atención" es poner tu consciencia en algo.
	li Soy conciente de que tengo un corazón pero no soy consciente de qué lo impulsa a latir
	li Si estás deprimido vives en el pasado, si estás estresado vives en el futuro, si estás en paz vives en el presente.
	li Cuando yo tomo una decisión mi mente ya lo ha decidido antes de que sea consciente.
	li En la medida en que mi conciencia no se identifica con los pensamientos de mi mente, el observador empezara a recibir y incorporar nuevos pensamientos que estarán en relación a su propio nivel de consciencia.
	li Mi pantalla mental me ofrece un conjunto de ideas y pensamientos sobre un echo determinado que esta ocurriendo en mi vida. Yo la observo. Yo sé que no soy esa mente. Cuando yo observo la pantalla y me dejo atrapar por un tipo de pensamiento que estará en relacion directa con mi tipo de programación que llevo, que me han incuclcado de pequeño y quedo atrapado por esos pensamientos y cometo el primer error: creo que tengo razón.
	li Tu mente queda al servicio del observador que observa al observador.
	li Mi forma de observar el mundo me afecta.
	li La conciencia deja de buscar soluciones, expectativas, para quedarse en silencio, convertirse en un atestiguador y dejar que la consciencia se manifieste en la conciencia y le inspire que lo que tiene que hacer, ir o hablar.
	li ¿Piensas tus pensamientos o tus pensamientos te piensan a tí? Hipnosis colectiva.
	li Tengo una mente y un cuerpo pero no soy ni mi mente ni mi cuerpo.
	li ¿Eres completamente aquello que eres?
	li Conseguí ver la mandarina que estaba mirando sin obviar que "eso" era una mandarina.
	li Noté que respiraba y me dí cuenta de que estaba vivo. Entrar en comunicación con el único instante en el que existo.
	li Si piensas te pierdes
	li Aprendemos a hablar antes de saber lo que queremos decir.
	li El mero acto de observar significa que la luz que hay fuera entra dentro de tí, tan sólo esto ya es increíble, un milagro. Y ¿en qué se convierte ahí dentro?
	li Observas al observador y todo lo que observas ya no es lo mismo.
	li Cuando focalizamos la atención de algo hacia dentro se genera un flujo de energía que parece comunicarse con nosotros. Nos damos cuenta de ese fluir de la conciencia, hay abundancia, ya no es necesario guardar nada... Llegamos al corazón y podemos entregar aquello que nos ha sido dado.
	li No sabes nada, deja que simplemente suceda
	li Cada cosa es un portal, un cruce entre otras dos cosas. Si esa cosa libera energía o significado ¡no lo toques!
	li El mapa de la montaña no es la montaña
	li Las herramientas están para servirnos a nosotros, no al revés.
	li Como es arriba es abajo
	li Todo es una analogía de todo. El desarrollo web es una mini versión del universo.
	li La persona que crees que eres sigue los patrones de un programa que tú mismo has creado influído por el entorno en el que has crecido.
	li Las formas son objetos con variables que cumplen funciones.
	li En psicología hay un fenómeno llamado "casualmente" TOT (Tip of the Tongue) que conocemos como "tener algo en la punta de la lengua".
	li Es cuando sabes cómo es algo, tienes la imagen mental pero no te viene el nombre en ese momento. Vamos bien, eso es lo que me pasaba cuando empezaba a sentir este proyecto. Mis hijos se llaman Teo y OTto... El dios egipcio THOT siempre me ha interesado, simbolizaba la mediación entre distintas realidades.
	li Tu verdadera naturaleza es participar en la realidad, contemplando las riquezas  infinitas del mundo.
	li Lo que realmente importa no puede verse, pero sabes cuándo está y cuando no.
	li Los organismos son seres organizados, ¡menos mal!
	li Lo difícil es comprender lo simple.
	li Pensar es ver lo que ya estaba ahí desde siempre.
