//- Component Resume Site
.compExternallinks
	h4 External Links
	ul.siteList
		li.siteList__item: a( href="http://jesusolmo.com", target="_blank" ) Jesús Olmo
		li.siteList__item: a( href="http://flowpiano.es", target="_blank" ) Ricardo Andrés Tomás
		li.siteList__item Eneagrama
		li.siteList__item: a( href="http://martapovo.es/sus-libros/" ) Libros Geocrom
		li.siteList__item Matemáticas vorticiales
		li.siteList__item Teoría del todo de Valdeande Mágico
		li.siteList__item Marko Rodin
		li.siteList__item http://www.ivoox.com/nota-voz-1-audios-mp3_rf_9466382_1.html
