//- Component Resume Site
.agradecimientos
	small
		b Quiero dar las gracias a: 
		| Juan, Mayte, Teo, Otto, Noelia, Fernando Peiró, Emiliano, Román Bayarri, Sergio Romero, Román Yñán, Dani Verges, Borja Altozano, Sergi Torres, Emilio Carrillo, Pilar Martínez, <a href="http://jesusolmo.com", target="_blank"> Jesús Olmo<a>,	<a href="http://flowpiano.es", target="_blank"> Ricardo Andrés Tomás</a>, El Eneagrama, <a href="http://martapovo.es/sus-libros/">Libros Geocrom</a>, Matemáticas vorticiales, Valdeande Mágico, Marko Rodin, Luís Palacios, Carlos Martínez...
