//- Component GeoCrom
.compGeocrom
	svg
		use( xlink:href="assets/img/icons.svg#square" )
	svg
		use( xlink:href="assets/img/icons.svg#pentagon" )
	svg
		use( xlink:href="assets/img/icons.svg#dodecaedro" )
	svg
		use( xlink:href="assets/img/icons.svg#triangle" )
	svg
		use( xlink:href="assets/img/icons.svg#hexagon" )
	svg
		use( xlink:href="assets/img/icons.svg#circle" )
	svg
		use( xlink:href="assets/img/icons.svg#lines" )
	svg
		use( xlink:href="assets/img/icons.svg#ellipse" )
	svg
		use( xlink:href="assets/img/icons.svg#path" )
	svg
		use( xlink:href="assets/img/icons.svg#octagon" )
