//- Component GeoCrom
.compGeocrom
	h2 Formas, Color, Geometría Sagrada, Arte
	svg.svg.square
		use( xlink:href="assets/img/icons.svg#square" )
	svg.svg.pentagon
		use( xlink:href="assets/img/icons.svg#pentagon" )
	svg.svg.dodecaedro
		use( xlink:href="assets/img/icons.svg#dodecaedro" )
	svg.svg.triangle
		use( xlink:href="assets/img/icons.svg#triangle" )
	svg.svg.hexagon
		use( xlink:href="assets/img/icons.svg#hexagon" )
	svg.svg.circle
		use( xlink:href="assets/img/icons.svg#circle" )
	svg.svg.lines
		use( xlink:href="assets/img/icons.svg#lines" )
	svg.svg.ellipse
		use( xlink:href="assets/img/icons.svg#ellipse" )
	svg.svg.path
		use( xlink:href="assets/img/icons.svg#path" )
	svg.svg.octagon
		use( xlink:href="assets/img/icons.svg#octagon" )
