.nav.nav-products
  ul
    li: a(href="product-decorativo") Lasur Decorativo al Agua
    li: a(href="product-matacarcoma") Mata Carcoma
    li: a(href="product-solar-agua") Lasur Solar al agua
    li: a(href="product-fondo-agua") Fondo al agua
