//-
	Component Resume Site
.compResume
	figure
		img( src="assets/img/teobn.jpg", alt="teo bn" )
		figcaption Teo
	.siteDescription
		h2 #{ sitedesc }
		p Todos venimos con conexión a lo absoluto pero no nos han enseñado a compartirlo de una manera limpia, sin filtros y sin ruido.
			| TOT busca eso; la comunicación directa y fácil entre mi mente y el mundo a través del corazón. Es el proceso creativo de decir y describir verdaderamente lo que uno va viendo cuando accede a la fuente.
