doctype html
block config
	include _config
html( lang=Language )
	block head
		include partials/_head

	body.site

		//- Site Main Nav
		block navmain

		//- Site Header Home
		block header

		//- Site Main
		block main

		//- Site Footer
		block footer
			include partials/_footer

		//- Site Scripts
		block js
			script( src='./js/build.js' )
