//-
	CONFIG VARIABLES
- var Language = 'es'
- var PageTitle = 'tot'
- var MetaDesc = 'xx'
- var Author = 'Sergio Forés'
//-
	Fuente
- var GoogleFonts = true
//-
	Site Data
- var title = site.title
- var sitedesc = site.descripcion
- var Posts = posts
