
//-   CONFIG VARIABLES
- var Language = 'es'
- var PageTitle = 'xxx'
- var PageDescription = 'xxx'
- var MetaDesc = 'xx'
- var Author = 'Sergio Forés'
//-   Fuente
- var GoogleFonts = true
//
//- 	Site Footer
- var title = site[0].title
- var sitedescription = site[0].description
//- - var laEmpresa = pages[0].empresa
//- - var laEmpresaLista = pages[0].empresa.lista.item
//- //- Apartado aplicaciones
//- - var Aplicaciones = pages[1].aplicaciones
//- //- Secciones de aplicaciones
//- - var AplicacionesSub = pages[1].aplicaciones.subapartados[0]
//- //- Apartado contacto
//- - var Contacto = pages[2].contacto
//- - var Productos = productos
//- - var widgethome = widgets[0].home
//- - var widgetInfo = widgets[0].info
//- //- Enlaces a sitios externos
//- - var widgetOutlink = widgets[0].outlink
