//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main
//- Site Header
append header
	include partials/_header
  
//- Main block
append main
	section.siteSection
		h1 Política de Cookies
		p En proceso...

//- Site Footer
append footer
	include partials/_footer
