//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main

//- Site Cover
append header
	include components/_cover

//- Main block
append main
	main.site--main
		include components/_posts
