//- BASE HTML
extends _base
//- Site Nav Main
append navmain
	include partials/_nav-main
//- Site Header Home
append header
	//- include partials/_header-home
	//- Component External-Links
	include components/_cover
//- Main block
append main
	main.siteMain
		section.siteSection
			h1 Audios
			audio(controls)
				source(src="./assets/audios/totaudio-voz.m4a")
				Your browser does not support the <code>audio</code> element.
		section.siteSection
			//- Component Exegesis
			include components/_exegesis
			//- Component External-Links
			include components/_external-links

//- Site Footer
append footer
	include partials/_footer
