//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main

//- Site Cover
append header
	include components/_cover

//- Main block
block main
	main.site--main

	//- Posts LIST Block
	append posts
		include components/_posts
