//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main
//- Site Header
append header
	include partials/_header

//- Main block
append main
	main.siteMain
		//- Component Resume
		include components/_resume
		//- Component Geocrom
		include components/_geocrom
		//- Component External-Links
		include components/_external-links

//- Site Footer
append footer
	include partials/_footer
